In [1]:
from pyspark.sql import SparkSession

We couls not create master as yarn in colab as colab supports only local as master node.

In [3]:
spark = SparkSession.builder.appName("Pyspark practise").master('local[*]').getOrCreate()

In [4]:
spark

In [8]:
employee_df = spark.read.option("header",True).option("inferschema",True).csv('/content/employees.csv')

In [11]:
sales_df = spark.read.option("header",True).option("inferschema",True).csv("/content/sales.csv")

In [15]:
employee_df.show(5)
sales_df.show(5)

+----------+---------+--------+----------+------+----------+----------+
|EmployeeID|FirstName|LastName|Department|Salary|  JoinDate|Experience|
+----------+---------+--------+----------+------+----------+----------+
|         1|     John|     Doe|        IT| 80000|2021-01-15|         3|
|         2|     Jane|   Smith|        HR| 70000|2020-05-22|         4|
|         3|   Robert|   Brown|        IT| 85000|2019-11-03|         5|
|         4|    Emily|   Davis|   Finance| 90000|2022-07-19|         2|
|         5|  Michael| Johnson|        IT| 75000|2023-03-11|         1|
+----------+---------+--------+----------+------+----------+----------+
only showing top 5 rows

+-------+----------+-----------+--------+---------+----------+------+
|SalesID|EmployeeID|ProductName|Quantity|UnitPrice| SalesDate|Region|
+-------+----------+-----------+--------+---------+----------+------+
|    101|         1|     Laptop|       2|     1000|2023-01-15| North|
|    102|         2|      Mouse|       5|       25|2023-01-16| South|
|    103|         3|   Keyboard|      10|       75|2023-01-17|  East|
|    104|         4|    Monitor|       1|      400|2023-01-18|  West|
|    105|         5|     Laptop|       3|     1000|2023-01-19| North|
+-------+----------+-----------+--------+---------+----------+------+
only showing top 5 rows

In [19]:
# Find average salary by department
from pyspark.sql.functions import *

avg_df = employee_df.groupby("Department")\
.agg(avg("Salary").alias("Average Salary Per Department"))
avg_df.show()

+----------+-----------------------------+
|Department|Average Salary Per Department|
+----------+-----------------------------+
|     Sales|            73333.33333333333|
|        HR|                      69250.0|
|   Finance|                      90000.0|
|        IT|                      80800.0|
+----------+-----------------------------+

In [21]:
precise_avg_df = employee_df.groupby("Department")\
.agg(format_number(avg("Salary"),2).alias("Average Salary Per Department"))
precise_avg_df.show()

+----------+-----------------------------+
|Department|Average Salary Per Department|
+----------+-----------------------------+
|     Sales|                    73,333.33|
|        HR|                    69,250.00|
|   Finance|                    90,000.00|
|        IT|                    80,800.00|
+----------+-----------------------------+

In [23]:
# Count total employees in each department
count_per_dept = employee_df.groupby("Department").agg(count('EmployeeID').alias("Count per Dept"))
count_per_dept.show()

+----------+--------------+
|Department|Count per Dept|
+----------+--------------+
|     Sales|             3|
|        HR|             4|
|   Finance|             3|
|        IT|             5|
+----------+--------------+