In [ ]:
def fibonacci(n):
  if n==1 or n==0:
    return 1

  first = fibonacci(n-1)
  second = fibonacci(n-2)
    #print(f"First number is : {first} and second number : {second}")
  return first + second

In [ ]:
fibonacci(5)

8

In [ ]:
def print1toN(n):
  if n == 0:
    return
  print1toN(n-1)
  print(n)

In [ ]:
print1toN(5)

1
2
3
4
5

In [ ]:
def printNto1(n):
  if n==0:
    return
  print(n)
  printNto1(n-1)

In [ ]:
printNto1(5)

5
4
3
2
1

1 to n is example of Head Recursion , pehle hum apna recusrion call kar rahe hai fir apna kaam kar rahe hai isilie ise kaha gaya hai head recursion. Tail recursion me pehle apna kaam kia is case me apne numbers print karae fir recursion ko call kia.

In [ ]:
# Sum of all digits
def sumofAllDigits(n):
  if n==0:
    return 0
  ans = int(n%10) + sumofAllDigits(n/10)
  return ans

In [ ]:
sumofAllDigits(234)

9

In [ ]:
# Power of any number
def powerofn(original,n):
  if n==0:
    return 1
  ans = original * powerofn(original,n-1)
  return ans

In [ ]:
powerofn(2,3)

8

Sum of array using recursion

In [ ]:

def sumofarr(l,n,sum):
  if n==0:
    sum += l[n]
    return sum
  sum += l[n]
  n-=1
  return sumofarr(l,n,sum)

In [ ]:
l=[5,6,7]
print(sumofarr(l,n=len(l)-1,sum=0))

18

In [ ]:
def anothersumarr(l):
  if len(l) == 0:
    return 0
  rightsum = anothersumarr(l[1:])
  my_sum = l[0]+rightsum
  return my_sum

In [ ]:
l=[1,2,3,4,5,6,7,8,9]
print(anothersumarr(l))
print(sumofarr(l,len(l)-1,sum=0))

45
45

In [ ]:
def sortarray(l):
  if len(l)==0 or len(l)==1:
    return True
  restsorted = sortarray(l[1:])
  if restsorted == False:
    return False
  if l[0]<l[1]:
    return True
  else:
    return False

In [ ]:
print(sortarray([1,2,3,4,5,67]))

True

In [ ]:
def sortedarraywithlesscall(l):
  if len(l) in (0,1):
    return True
  if l[0]>l[1]:
    return False
  return sortedarraywithlesscall(l[1:])

In [ ]:
print(sortedarraywithlesscall([1,2,35,4,5,67]))

False

### First , last and all index in an element in an array , first last and all index.

In [ ]:
def firstOccurance(l,n):
  if len(l) == 0:
    return -1
  if l[0] == n:
    return 0
  first_index = firstOccurance(l[1:],n)
  if first_index == -1:
    return first_index
  if first_index == 0:
    return first_index + 1

In [ ]:
firstOccurance([3,4,5,6,8,9,7,2Ṇ,5,6,7,2],2)